{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-9">
        <h1>{{ post.title }}</h1>
            <div class="row">
                <div class="col-lg-12">
                    <p>{{ post.text | truncate(255) | safe}}</p>
                </div>
            </div>
    </div>
    <div style="width:100%; position:fixed; left:0; bottom:0;" class="col-lg-3">
        <hr>
        <div class="row">
            <h5>Recent Posts</h5>
            <ul>
                {% for post in recent %}
                    <li><a href="{{ url_for('post',post_id=post.id)}}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <h5>Popular Tags</h5>
            <ul>
                {% for tag in top_tags %}
                    <li><a href="{{ url_for('tag',tag_name=tag[0].title) }}">{{ tag[0].title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-12">
        <h3>New Comment:</h3>
        <form method="POST" action="{{ url_for('post',post_id=post.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {% if form.name.errors %}
                    {% for e in form.name.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.name(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.text.label }}
                {% if form.text.errors %}
                    {% for e in form.text.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.text(class_='form-control') }}
            </div>
            <input class="btn btn-primary" type="submit" value="Add Comment">
        </form>
    </div>
</div>
{% endblock %}